@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props";

:root {
  --flip-time: 1.5s;
}

:where(svg:not([width])) {
  inline-size: var(--size-0);
}

[x-cloak] {
  display: none !important;
}

body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: var(--gradient-23), var(--noise-4);
  /* filter: var(--noise-filter-4); */
  background-size: cover;
  color: var(--gray-3);
  font-family: var(--font-sans);
  height: 100vh;
  padding: 1rem;
}

section.memory {
  margin: 0 auto;
  width: calc(min(100vh, 100vw) - 5rem);
  aspect-ratio: var(--ratio-square);
  display: grid;
  grid-template-columns: repeat(var(--game-size, 2), 1fr);
  grid-template-rows: repeat(var(--game-size, 2), 1fr);
  gap: 0.5rem;
}

.memory--found .card.card--flipped {
  transform: scale(0.5) rotateZ(30deg);
  opacity: 0;
}

.memory--wrong .card--flipped .card-front {
  transition: outline-color 0.5s ease-in-out 1s, outline-width 0s linear 1s;

  outline: 2px solid var(--red-9);
  outline-offset: -0.5vw;
}

.card:nth-child(3n + 1) {
  --hover-rot: -10deg;
  --rot: 0.5deg;
  --flip-dir: -1;
}
.card:nth-child(5n + 1) {
  --hover-rot: 20deg;
  --rot: -1deg;
  --flip-dir: -1;
}
.card:nth-child(7n + 2) {
  --hover-rot: -20deg;
  --flip-dir: 1;
}
.card {
  position: relative;
  aspect-ratio: var(--ratio-square);
  perspective: 800px;
  z-index: 1;
  transition: opacity 250ms ease-in-out 2s, transform 250ms ease-in-out 2s;
  transform: rotate(var(--rot, 0));
}
.card-selection {
  display: flex;
  gap: 1rem;
}
.card-selection > div {
  width: 7rem;
}
.card-selection .card {
  opacity: 0.5;
  transition: opacity 0s;
  filter: grayscale(1);
}

.card-selection .card.card--selected {
  opacity: 1;
  filter: grayscale(0);
}
.card-selection .card:not(.card--selected):hover {
  opacity: 0.8;
  filter: grayscale(0.5);
}

.card-content {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s, shadow 0.5s;
}
.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background: var(--stone-0);
  border: 0.5vw solid var(--stone-0);
  padding: 5%;
  border-radius: 2px;
  box-shadow: var(--shadow-3);
  font-size: 3vw;
  text-align: center;
  background-origin: content-box;
}

.card--flipped,
.card--found {
  z-index: 10;
}

.card--flipped > .card-content {
  transform: rotateY(calc(180deg * var(--flip-dir, 1))) scale(110%);
  transition: transform 2s;
  box-shadow: var(--shadow-5);
}
.memory--found > .card-content {
  scale: 120%;
  transition: scale 2s;
}

.card--hidden > .card-content {
  display: none;
}

.card:hover:not(.card--flipped) > .card-content {
  transform: translateY(-0.5rem) rotateY(var(--hover-rot, 5deg));
  cursor: grab;
}

.card:hover .card-front,
.card:hover .card-back {
  box-shadow: var(--shadow-4);
}

.card-front {
  transform: rotateY(180deg);
}

.card-front > img {
  width: 100%;
  aspect-ratio: var(--ratio-square);
}

.card-back {
  background-color: var(--yellow-4);

  background: linear-gradient(135deg, var(--indigo-11) 25%, transparent 25%) -7px
      0/ 14px 14px,
    linear-gradient(225deg, var(--indigo-9) 25%, transparent 25%) -7px 0/ 14px
      14px,
    linear-gradient(315deg, var(--indigo-11) 25%, transparent 25%) 0px 0/ 14px 14px,
    linear-gradient(45deg, var(--indigo-9) 25%, var(--stone-3) 25%) 0px 0/ 14px 14px;
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.overlay {
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  font-size: var(--size-5);
  text-align: right;
  font-family: "Courier New", Courier, monospace;
  font-weight: var(--font-weight-10);
}

.dialog {
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: var(--gradient-23);
  opacity: 0.9;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
}

.dialog > button {
  padding: 1rem 2rem;
  font-size: var(--font-size-4);
  background-color: var(--lime-10);
  border: 1px solid var(--lime-12);
  color: var(--gray-0);
  box-shadow: var(--shadow-2);
  vertical-align: middle;
}
.dialog > button:hover {
  background-color: var(--lime-9);
}
